#Types

---

In [ ]:
# System

In [13]:
import sys #To check Python V.
print(sys.version)
print(sys.float_info)

3.7.6 (default, Apr  3 2020, 00:02:16)
[GCC 7.5.0]
sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

---

In [ ]:
#Say Hello Python

In [3]:
print("Hello,Python!") #Typing first Python input

Hello,Python!

---

In [ ]:
# Comments in Python

In [6]:
# To comment in Paython we use #

print("Hello, Layth!") #Im printing my name using Python WOW

Hello, Layth!

---

In [ ]:
# Errors in Python

In [1]:
frint("Hello, Python!") # WOW I make an Errore in Python

Hello, Python!

In [3]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed") #This will NOT be printed

This will be printed
This will cause an error
This will NOT be printed

-----

In [1]:
# Types of objects in Python

In [5]:
# Word
print("Hello, Python 101!")

# Numbers
print(11)    #-----> Integer

print(2.14)  #-----> Float

Hello, Python 101!
11
2.14

In [12]:
# Type of 

print (type("Hello, Python 101!"))
print (type(11))
print (type(2.14))

<class 'str'>
<class 'int'>
<class 'float'>

In [18]:
type('1')

str

In [17]:
type('Layth')

str

In [14]:
type(0)

int

In [15]:
type(-1)

int

In [16]:
type(1)

int

In [19]:
type(2.14)

float

In [20]:
type(.14)

float

In [21]:
type(2.0)

float

---

In [22]:
# Converting from one object type to a different object type

In [ ]:
#Converting integers to floats

In [23]:
float(1)

1.0

In [24]:
type(float(1))

float

In [26]:
int(1.1)  # Casting 1.1 to integer will result in loss of information BE CARFUL WHEN YOU DO SO!

1

In [3]:
# Converting from strings to integers or floats

In [11]:
int('1')

1

In [28]:
int('Cant convert this to Integer!')

87

In [29]:
float('1.4')

1.4

In [2]:
# Converting numbers to strings

In [4]:
str(1)

'1'

In [18]:
str(1.5)

'1.5'

---

In [6]:
#Boolean data type

In [8]:
True

True

In [9]:
False

False

In [12]:
type(True)

bool

In [19]:
int(True)

1

In [11]:
float(False)

0.0

In [13]:
bool(0)

False

---

In [16]:
######                                             Exercise: Types

---

In [19]:
#What is the data type of the result of: 6 / 2 & 6//2?


print(6/2)  # Float
print(6//2) # Integer

3.0
3

In [20]:
#Expression and Variables

In [21]:
#Expression

In [22]:
# Addition operation expression

30+4+0+9

43

In [23]:
# Subtraction operation expression
3-3-9

-9

In [25]:
# Multiplication operation expression

1987*24*8

381504

In [27]:
#Exercise: Expression

In [28]:
#write an expression that calculates how many hours there are in 160 minutes

H = 60  # hour equal to 60 minutes
givenMinute = 160

totalHours = givenMinute/H

print(totalHours)

2.6666666666666665

In [29]:
#Variables

In [30]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [31]:
print(x)

160

In [32]:
y = x / 60
y

2.6666666666666665

In [34]:
print(y)
print (x)

2.6666666666666665
160

In [35]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [36]:
print(y)
print (x)

2.6666666666666665
2.6666666666666665

In [ ]:
#Exercise: Expression and Variables in Python

In [37]:
#What is the value of x where x = 3 + 2 * 2

x = 3 + 2 * 2
print(x)

7

In [38]:
#What is the value of y where y = (3 + 2) * 2

y = (3 + 2) * 2
print(y)

10